*, *::before, *::after {
    box-sizing: border-box;
    font-family: inherit;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* RESET END*/
/* COLORS */
:root {
    --white: hsl(0, 0%, 100%);
    --light_grey: hsl(212, 45%, 89%);
    --grayish_blue: hsl(220, 15%, 55%);
    --dark_blue: hsl(218, 44%, 22%);
  }

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--grayish_blue);
}

main {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article {
    max-width: 26rem;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }